*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Segoe UI', sans-serif;
}

body{
  background:#050014;
  color:white;
}

.menu{
  position:fixed;
  top:0;k
  width:100%;
  background:rgba(0,0,0,.8);
  display:flex;
  justify-content:space-between;
  padding:15px 30px;
  border-bottom:2px solid cyan;
  z-index:999;
}

.logo{
  color:cyan;
}
.logo span{color:#ff00ff;}

.menu ul{list-style:none;display:flex;gap:20px;}
.menu ul li a{text-decoration:none;color:white;transition:.3s;}
.menu ul li a:hover{color:cyan;}

.hero{
  height:100vh;
  background-size:cover;
  background-position:center;
}

.overlay{
  background:rgba(0,0,0,.75);
  height:100%;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
}

.overlay h2{font-size:48px;color:cyan;}

.info{margin:15px 0;display:flex;gap:15px;flex-wrap:wrap;}

.btn{
  padding:12px 30px;
  border:2px solid cyan;
  color:cyan;
  text-decoration:none;
  border-radius:30px;
  transition:.3s;
}

.btn:hover{background:cyan;color:black;}

.conteudo{padding:120px 10%;}

.cards{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(180px,1fr));
  gap:20px;
  margin-top:20px;
}

.card{
  border:2px solid cyan;
  padding:25px;
  text-align:center;
  border-radius:12px;
  box-shadow:0 0 20px cyan;

}
